*{
    list-style-type: none;
}

body{


}

.ul-menu{
    background-color: #333;
     color: #ffffff;
    overflow: hidden;
    text-align: center;
    ;
}

.li-menu{
    float: right;
}

.a-menu{
    text-decoration: none;
    color: #ffffff;
    padding: 17px;
    font-size: 20px;
    display:block ;
}

.li-menu hover{
    background-color: #000;
}

.column{
    width: 50%;
    float: left;
    text-align: center;

}

.profile{
    width: 200px;
    height: 200px;
    border-radius: 200px;

}

.social{
    width: 40px;
    padding: 5px;
}

.row{
    padding: 10px;
}

.row:after{
    display: table;
    clear: both;
    content: '';
}

.left{
    width: 20%;
    float: left;
}

.right{
    width: 80%;
    float: left;
}

.main-bar{
    background-color: rgb(13, 122, 122) ;
    display: block;
    height: 15px;
}

.main-bar span{
    background-color:rgb(255, 216, 22) ;
    height: 15px;
    display: block;
    color: rgb(102, 100, 100);
}

.Paython{
    width: 80%;
    animation: Paython 2.5s;
}

.Front-end{
    width: 70%;
    animation:Front-end 2.5s;
}

.Java{
    width: 90% ;
    animation: Java 2.5s;
}

.Spring{
    width: 90%;
    animation: Spring 2.5s;
}

.Problem-solving{
    width: 90%;
    animation: Problem-solving 2.5s;
}

@keyframes Paython {
    0%{
        width: 0%;
    }
    100{
        width: 80%;
    }
}

@keyframes Front-end {
    0%{
        width: 0%;
    }
    100{
        width: 70%;
    }
}

@keyframes Java {
    0%{
        width: 0%;
    }
    100{
        width: 90%;
    }
}

@keyframes Spring {
    0%{
        width: 0%;
    }
    100{
        width: 80%;
    }
}

@keyframes Problem-solving {
    0%{
        width: 0%;
    }
    100{
        width: 90%;
    }
}

.footer{
    width: 100%;
    background-color: #333;
    height: 40px;
    color: white;
    text-align: center;
    font-size: 30px;

}

@media screen and (max-width: 800px) {
    .column{
        width:100%
    }    
}